In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("E:\\Python\\python projects\\FMCG\\Raw Sales Data.csv")
df

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287"
...,...,...,...,...,...,...,...
219,01-Mar-21,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,"1,65,426"
220,01-Mar-21,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,"2,48,830"
221,01-Mar-21,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,"1,40,907"
222,01-Mar-21,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,"1,242","4,36,043"
223,01-Mar-21,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,"5,82,600"

In [9]:
df.size

2240

In [10]:
df.shape

(224, 10)

In [11]:
df.columns

Index(['Month', 'Channel', 'Sub-Channels', 'Product Name', 'Category', 'Qty',
       'Sales', 'month_name', 'year_name', 'month_year'],
      dtype='object')

In [12]:
df.isnull().sum()

Month           0
Channel         0
Sub-Channels    0
Product Name    0
Category        0
Qty             0
Sales           0
month_name      0
year_name       0
month_year      0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    datetime64[ns]
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    int64
 6   Sales         224 non-null    int64
 7   month_name    224 non-null    object
 8   year_name     224 non-null    period[A-DEC]
 9   month_year    224 non-null    object
dtypes: datetime64[ns](1), int64(2), object(6), period[A-DEC](1)
memory usage: 17.6+ KB

In [3]:
df['Month'] = pd.to_datetime(df["Month"])
df['month_name'] = df['Month'].dt.month_name(locale = 'English')
df['year_name'] = df ['Month'].dt.to_period('Y')
df['month_year'] = df['month_name']+' '+df['year_name'].astype(str)
df

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,month_name,year_name,month_year
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700",December,2020,December 2020
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831",December,2020,December 2020
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167",December,2020,December 2020
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100",December,2020,December 2020
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287",December,2020,December 2020
...,...,...,...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,"1,65,426",March,2021,March 2021
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,"2,48,830",March,2021,March 2021
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,"1,40,907",March,2021,March 2021
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,"1,242","4,36,043",March,2021,March 2021
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,"5,82,600",March,2021,March 2021

In [5]:
df['Qty'] = df['Qty'].str.replace(',','')
df['Sales'] = df['Sales'].str.replace(',','')
df

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,month_name,year_name,month_year
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116,428700,December,2020,December 2020
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003,1374831,December,2020,December 2020
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962,732167,December,2020,December 2020
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004,377100,December,2020,December 2020
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,152287,December,2020,December 2020
...,...,...,...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,165426,March,2021,March 2021
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,248830,March,2021,March 2021
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,140907,March,2021,March 2021
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242,436043,March,2021,March 2021
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,582600,March,2021,March 2021

In [6]:
df[["Sales", "Qty"]] = df[["Sales", "Qty"]].apply(pd.to_numeric)
df

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,month_name,year_name,month_year
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116,428700,December,2020,December 2020
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003,1374831,December,2020,December 2020
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962,732167,December,2020,December 2020
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004,377100,December,2020,December 2020
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,152287,December,2020,December 2020
...,...,...,...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,165426,March,2021,March 2021
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,248830,March,2021,March 2021
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,140907,March,2021,March 2021
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242,436043,March,2021,March 2021
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,582600,March,2021,March 2021

1. Monthwise number of quantities sold

In [7]:
month_qty = pd.DataFrame(df.groupby('month_name')['Qty'].sum().reset_index())
month_qty

  month_name    Qty
0   December  85427
1   February  76393
2    January  67732
3      March  80229

2. Category wise Qty sold

In [8]:
category_qty = pd.DataFrame(df.groupby('Category')['Qty'].sum().reset_index())
category_qty

               Category     Qty
0  Functional nutrition   42354
1     Gourmet Nutrition   89279
2                Juices  178148

3. Sub-channel wise total sales

In [17]:
sub_channel_sales = pd.DataFrame(df.groupby('Sub-Channels')['Sales'].sum().reset_index())
sub_channel_sales

         Sub-Channels     Sales
0              AMAZON  35606804
1          Big Basket   1207522
2                 D2C  28047538
3            Flipkart   3770415
4               GOQII    582600
5   Offline - Central    375332
6      Offline - East    811146
7        Offline - MT   6257948
8     Offline - South   3446395
9      Offline - West   6441427
10     Offline -North   1206564

4. Highest sale in which month

In [22]:
Higest_sale = pd.DataFrame(df.groupby('month_name')['Sales'].sum().reset_index())
Higest_sale

  month_name     Sales
0   December  19738841
1   February  21492370
2    January  21394653
3      March  25127827

5. Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM
JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [7]:
df['Product Name'] = df['Product Name'].str.replace('\d+','**')
df

C:\Users\HP\AppData\Local\Temp\ipykernel_37500\953964608.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Product Name'] = df['Product Name'].str.replace('\d+','**')

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Product_1 Name
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE ** L,Juices,"1,116","4,28,700",ALOE + AMLA JUICE ** L
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE ** L,Juices,"3,003","13,74,831",ALOE + GARCINIA JUICE ** L
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE ** L,Juices,"2,962","7,32,167",ALOE VERA JUICE ** L
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL ** GM,Gourmet Nutrition,"1,004","3,77,100",ALOE VERA SKIN GEL ** GM
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE ** L,Juices,555,"1,52,287",NEEM JUICE ** L
...,...,...,...,...,...,...,...,...
219,01-Mar-21,Marketplace,Big Basket,ORGANIC GULKAND **grams,Gourmet Nutrition,509,"1,65,426",ORGANIC GULKAND **grams
220,01-Mar-21,Marketplace,Flipkart,ALOE + GARCINIA JUICE ** L,Juices,542,"2,48,830",ALOE + GARCINIA JUICE ** L
221,01-Mar-21,Marketplace,Flipkart,AMLA JUICE ** L,Juices,645,"1,40,907",AMLA JUICE ** L
222,01-Mar-21,Marketplace,Flipkart,GET SLIM JUICE ** L,Juices,"1,242","4,36,043",GET SLIM JUICE ** L
223,01-Mar-21,Marketplace,GOQII,RAW HONEY ( MADHU) ** GRAMS,Gourmet Nutrition,971,"5,82,600",RAW HONEY ( MADHU) ** GRAMS

In [5]:
df['Product_1 Name'] = df['Product Name'].apply(lambda x:x.split("**")[0])
df

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Product_1 Name
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE ** L,Juices,"1,116","4,28,700",ALOE + AMLA JUICE
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE ** L,Juices,"3,003","13,74,831",ALOE + GARCINIA JUICE
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE ** L,Juices,"2,962","7,32,167",ALOE VERA JUICE
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL ** GM,Gourmet Nutrition,"1,004","3,77,100",ALOE VERA SKIN GEL
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE ** L,Juices,555,"1,52,287",NEEM JUICE
...,...,...,...,...,...,...,...,...
219,01-Mar-21,Marketplace,Big Basket,ORGANIC GULKAND **grams,Gourmet Nutrition,509,"1,65,426",ORGANIC GULKAND
220,01-Mar-21,Marketplace,Flipkart,ALOE + GARCINIA JUICE ** L,Juices,542,"2,48,830",ALOE + GARCINIA JUICE
221,01-Mar-21,Marketplace,Flipkart,AMLA JUICE ** L,Juices,645,"1,40,907",AMLA JUICE
222,01-Mar-21,Marketplace,Flipkart,GET SLIM JUICE ** L,Juices,"1,242","4,36,043",GET SLIM JUICE
223,01-Mar-21,Marketplace,GOQII,RAW HONEY ( MADHU) ** GRAMS,Gourmet Nutrition,971,"5,82,600",RAW HONEY ( MADHU)

In [7]:
Higest_selling_product = pd.DataFrame(df.groupby('Product_1 Name')['Sales'].sum().sort_values(['Sales']).reset_index())
Higest_selling_product

KeyError: 'Product_1 Name'

6. List of different products company is offering (packaging quantity doesn't matter. Ex. consider "GET
SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [8]:
diff_product = pd.DataFrame(df.groupby('Channel')['Product Name'].unique().rename())
diff_product

                                                             0
Channel
D2C          [ALOE + GARCINIA JUICE 1 L, GET SLIM JUICE 1 L...
Marketplace  [ALOE + AMLA JUICE 1 L, ALOE + GARCINIA JUICE ...
Offline      [ORGANIC JAGGERY POWDER 500 GRAMS, ALOE VERA S...